{% extends 'parent/parenthome.html' %}
{% block content %}
<form>
  <!-- <h3>Login</h3> -->
  <div class="mb-3">
    <label for="inputPassword1" class="form-label">Current Password</label>
    <input type="password" id="inputPassword1" class="form-control" aria-describedby="passwordHelpBlock"> <br>

    <label for="inputPassword2" class="form-label">New Password</label>
    <input type="password" id="inputPassword2" class="form-control" aria-describedby="passwordHelpBlock"> <br>

    <label for="inputPassword3" class="form-label">Confirm New Password</label>
    <input type="password" id="inputPassword3" class="form-control" aria-describedby="passwordHelpBlock"> <br>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" style="background-color:orange ;">SUBMIT</button>
    </div>
  </div>



</form>



<style>
  form {
    background-color: rgba(220, 219, 216, 0.89);
    margin-top: 12%;
    margin-bottom: 15%;
    margin-left: 37%;
    width: 27%;
    padding: 3%;
    
    border-radius: 6px;



  }

  .mb-3 {
    margin-top: 10%;

  }

  


.col-12{
    margin-top: 10%;
    text-align: center;
    

   
}

  


</style>
{% endblock %}