{% extends 'parent/parenthome.html'%}
{% block content %}   
   <form action="{% url 'editchild'%}" method="='POST">
       {% csrf_token %}

 <table width="200" class="table table-hover table-striped table-bordered">
   
    <tr>
        <td>Name</td>
        <td><input type="text" required name="name" id="textfield" class="form-control"/></td>
      </tr>
      <tr>
        <td>DOB</td>
        <td><input type="date" required name="dob" id="textfield2" class="form-control"/></td>
      </tr>
      <tr>
        <td>Disability Type</td>
        <td><select class="form-control" name="disability_type">
          <option>Disability Type</option>
          <option>India</option>
          <option>Georgia</option>
          <option> Dominica</option>
          <option>Lithuania</option>
          <option> Monaco</option>
        </select></td>
      </tr>
      <tr>
        <td>Diasability Percentage (%)</td>
        <td><input type="text" required name="disability_per" id="textfield4" class="form-control"/></td>
      </tr>
   <tr>
         <td>&nbsp;</td>
     <td><input type="submit" name="button" id="button" value="EDIT" class="btn btn-success" style="background-color: orange;border: none;"/></td>

   </tr>
 </table>
</form>
<style>

form{
 border-radius: 8px;
 
 margin-top: 10%;
 margin-left: 20%; 
width:60%;

 margin-bottom: 15%;
 
}




</style>

{% endblock %}