{% extends 'parent/parenthome.html' %}
{% block content %}
<form name="form1" method="post" action="{% url 'parentreview'%}">
    {% csrf_token %}

</table><br><br><br>
<table width="200" class="table table-hover table-striped table-bordered">
<tr>
  <th scope="col">S/No</th>

  <th scope="col">Name</th>
  <th scope="col">Email</th>
  <th scope="col">Date</th>
  <th scope="col">Review</th>
</tr>

<tr>
  {% for i in data %}
  <td>{{forloop.counter}}</td>
  <td>{{i.PARENT.name}}</td>
   <td>{{i.PARENT.email}}</td>
  
  <td>{{i.date}}</td>
  <td>{{i.review}}</td>
</tr>


{% endfor %}


</table>
<a href="{% url 'addreview'%}" class="btn btn-success" style="background-color: orange;border: none;margin-left: 41%;">ADD REVIEW</a>
</form>

<style>
    form{
    /* background-color: aqua; */
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    margin-bottom: 15%;
}
</style>

{% endblock %}