{% extends 'parent/parenthome.html'%}
{% block content %} 
<form>
    <table width="200" class="table table-hover table-striped table-bordered">
    
     <tr>
        <td>INSTRUCTIONS:*</td>
        
    </tr> 
    {% for i in data %}
    <tr>
        <td>{{i.instructions}}</td>
    </tr>
    {% endfor %}
    
    
    </table>
    <div><br>
        <h6><B>AWARENESS VIDEOS</B></h6>
        {% for i in data %}
            <video width="320" height="240" controls>
                <source src="{{i.awareness_videos.url }}">
            </video>
            {% endfor %}
    </div>
    
    </form>
    
    
    <style>
    
    form{
    /* background-color: aqua; */
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    margin-bottom: 15%;
    }
    
    
    
    
    </style>
{%endblock%}