{% extends 'parent/parenthome.html' %}
{% block content %}
<div class="c1">
  <table width="" class="table table-hover table-striped table-bordered">
    <tr>
      <th scope="col">S/No</th>
        
        <th scope="col">Name</th>

      <th scope="col">DOB</th>
        <th scope="col">Gender</th>
      <th scope="col">Disability Type</th>
      <th scope="col">Disability Percentage</th>
	  <th></th>
      
      
    </tr>
    {% for i in data %}
     <tr>
      <td>{{forloop.counter}}</td>
        <td>{{i.name}}</td>
        <td>{{i.dob}}</td>
         <td>{{i.gender}}</td>
        <td>{{i.disability_type}}</td>
         <td>{{i.disability_percentage}}</td>
		 
      
        
         
		  <td><a href="{% url 'editchild' id=i.id %}"  class="btn btn-primary"  style="background-color: orange;border:none;"><button style="background-color: orange;border:none;color:white;">EDIT</button></a></td>

    
  
  </td>
     </tr>
    {% endfor %}
     
  </table></div>
  <style>
	.c1{
	  width: 70%;
	  margin-top: 20%;
	  margin-left: 15%;
	  margin-bottom: 15%;
	}
	
	
	
	
	</style>
	{%endblock%}


