{% extends 'admin/adminhome.html' %}
{% block content %}
<form method="post" action="{% url 'addinstruction' %}" >
    {% csrf_token %}
    <table width="200" class="table table-hover table-striped table-bordered">

      <tr>
        <td>ADD INSTRUCTIONS</td>
          <td><textarea name="instructions" class="form-control"></textarea></td>
      </tr>
      <td></td>
      <td><input type="submit" name="button" id="button" value="UPLOAD" class="btn btn-success" style="background-color: orange;border: none;"/></td>
    </table>
    {% if data %}
    {{ data }}
    {% endif %}
  </form>

       <form class="f2" method="post"  action="{% url 'addawareness' %}" enctype="multipart/form-data"> 
        {% csrf_token %}
    <table width="200" class="table table-hover table-striped table-bordered">

    <tr>
      <td>AWARENESS VIDEOS</td>
      <td><input type="file" name="videos" id="fileField" class="form-control"/></td>
    </tr>
   
         <td></td>
      <td><input type="submit" name="button" id="button" value="UPLOAD" class="btn btn-success" style="background-color: orange;border: none;"/></td>

    </tr>
  </table>
  {% if data2 %}
  {{ data2 }}
  {% endif %}
</form>

<style>
    form {
      
      margin-top: 12%;
      margin-bottom: 7%;
      margin-left: 20%;
      width: 60%;
      

    }
    .f2{
      margin-top: 0%;
      margin-bottom: 15%;
      margin-left: 20%;
      width: 60%;
      
    }
    .form-control{
        border-radius: 4px;
        
        height:25%;
    }
  
  </style>

{% endblock %}