{% extends 'admin/adminhome.html'%}
{% block content %} 
<form >
   

<table width="200" class="table table-hover table-striped table-bordered">


 <tr>
    <td>INSTRUCTIONS:*</td>

    
</tr> 
{% for i in data %}
<tr>
    <td>{{i.instructions}}</td>
    <td><a href="{% url 'edit_awareness'%}" class="btn btn-success" style="background-color: orange;border: none;margin-left: 24%;width:50%;">EDIT</a></td> 

</tr>
{% endfor %}


</table>
<div><br>
    <h6><B>AWARENESS VIDEOS</B></h6>
    {% for i in data %}
        <video width="320" height="240" controls>
            <source src="{{i.awareness_videos.url }}">
        </video>
        {% endfor %}
</div>

</form>


<style>

form{
/* background-color: aqua; */
margin-top: 10%;
margin-left: 15%;
width: 70%;
margin-bottom: 15%;
}




</style>
{%endblock%}